body {
    background-color: #adc227;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #;
}

h2 {
    color: #427aa1;
}

#principal {
    text-align: center;
    background-color: #679436;
    color: #05668d;
}

.secundaria {
    background-color: #679436;
    color: #05668d;
    text-align
}

p {
    color: #ebf2fa;
}